@font-face {
	font-family: 'Cocogoose';
	src: url(../assets/fonts/cocogoose.otf);
	height: 80em;
}

@font-face {
	font-family: 'Poppins';
	src: url(../assets/fonts/poppins.ttf);
}

@font-face {
	font-family: 'Fira Code';
	src: url(../assets/fonts/fira-code.ttf);
}

@font-face {
	font-family: 'DM Sans';
	src: url(../assets/fonts/dm-sans.ttf);
}

:root {
	--skyline-size: 120rem;
	--bs-font-sans-serif: 'DM Sans' !important;
}

body {
	background: url('/assets/images/background/skyline-transparent.png') bottom repeat-x fixed padding-box border-box,
		linear-gradient(to top, #2c046d, #0a0543, #073e3e) 100%;
	background-size: var(--skyline-size);

	animation-name: scroll;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	overflow-x: hidden;
}

#logo {
	width: 50px;
	height: 50px;
}

#header {
	color: white;
	font-family: 'Fira Code';
	height: 100vh;

	padding-bottom: 50px;
	margin-bottom: 20px;
}

#main-description,
#header-date {
	font-family: 'Fira Code';
	color: #ffffff00;
}

#description {
	font-family: 'Fira Code';
}

#navbar-collapse-button {
	outline: 0px !important;
	box-shadow: none !important;
	border: none;
	opacity: 0.6;
}

#navbar-collapse-button:hover {
	opacity: 1;
}

#register-button {
	margin-bottom: 12px;
}

#noscript-container {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	width: 100%;
	background-color: #ffffff;
}

.vshacks-sectionheader {
	font-family: 'Cocogoose';
	text-align: center;
	font-size: 50px;
	padding: 25px;
}

.vshacks-navmenu {
	font-family: 'Poppins';
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
	background: transparent;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
}

.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.vshacks-section {
	margin-top: 5rem;
}

.vshacks-carouselbutton {
	background-color: white !important;
}

.vshacks-carouseltext {
	color: white;
	background-color: #000000a0;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 1px;
	width: 100%;
}

.vshacks-faq {
	background-color: transparent !important;
	border: none !important;
}

.vshacks-faqbutton {
	outline: 0px !important;
	box-shadow: none !important;
	background-color: transparent !important;
	border: none !important;
}

.vshacks-sponsor {
	max-width: 30rem;
	padding: 2rem;
}

.expand-on-hover {
	transition: transform 0.25s ease;
}

.expand-on-hover:hover {
	transform: scale(1.05);
}

.vshacks-infocard {
	max-width: 40rem;
	padding: 5px;
	margin-bottom: 3rem;
	background-color: transparent !important;
	border: none !important;
}

.vshacks-clublogo {
	margin-bottom: 1rem !important;
}

.content {
	padding: 0px 18px;
	margin-top: 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border-radius: 15px;

	background-color: #f1f1f1;
}

.vshacks-bg-dark {
	background-color: #0e0e0e;
}

@keyframes scroll {
	from {
		background-position-x: 0vw;
	}
	to {
		background-position-x: var(--skyline-size);
	}
}

@keyframes fadeIn {
	from {
		color: #ffffff00;
	}
	to {
		color: #ffffffff;
	}
}

footer {
	margin-top: 30px;
}

html {
	overflow-x: hidden;
}




@-webkit-keyframes iscroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 10));
	}
  }
  
  @keyframes iscroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 10));
	}
  }
  .slider {
	-webkit-mask-image: linear-gradient(to right, transparent, black, black, black, transparent);
	mask-image: linear-gradient(to right, transparent, black, black, black, transparent);
	mask-size: 86vw;
	mask-repeat: no-repeat;
	mask-position: center;

	height: 250px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100vw;
  }
  .slider::before, .slider::after {
	height: 250px;
	position: absolute;
	width: 250px;
	z-index: 2;
  }
  .slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
  }
  .slider::before {
	left: 0;
	top: 0;
  }
  .slider .slide-track {
	-webkit-animation: iscroll 40s linear infinite;
	animation: iscroll 40s linear infinite;
	
	display: flex;
	width: calc(250px * 20);
  }
  .slider .slide {
	height: 250px;
	width: 250px;
  }
