#logo {
    width: 50px;
    height:50px;
}

#header {
    color: #FFFFFF;
    font-family: 'vshacks-main';
    height: 100vh;
    background-image: url("/assets/skyline.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

#description {
    font-family: 'vshacks-desc';
}

.vshacks-sectionheader {
    font-family: 'vshacks-main';
    text-align: center;
    font-size: 50px;
    padding: 25px;
}

.vshacks-miniheader {
    font-size: 25px;
    text-decoration: underline;
    padding: 25px;
}

.vshacks-navmenu {
    padding: .5rem 1rem;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    color: black;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(6px);
}

.vshacks-quote {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.vshacks-section {
    margin-top: 10rem;
}

.vshacks-carouseltext {
    background-color: #000000A0;
    border-radius: 5vw;
}

.vshacks-title {
    font-family: 'vshacks-main';
    font-size: 5vw;
}

@font-face {
    font-family: "vshacks-main";
    src: url(../assets/fonts/cocogoose.otf);
    height: 80em;
}

@font-face {
    font-family: "vshacks-desc";
    src: url(/assets/fonts/baloo.ttf);
    height: 80em;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-top: 20px;
  border-radius: 15px;
}

#coll .active, .collapsible:hover {
    background-color: #555;
}

.content {
    
    padding: 0px 18px;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 15px;
    
    background-color: #f1f1f1;
}
#ren {
  margin-top: 10px;
}
.smallerfaq {
  max-width: 70vw;
  margin-left: 15vw;
}
