<nav
	class="vshacks-navmenu navbar navbar-fill navbar-expand-sm navbar-dark"
	style="position: absolute"
	id="vshacks-nav"
>
	<a class="navbar-brand" href="/#">
		<img id="logo" src="/assets/images/icons/icon_white.svg" />
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#navbar-body"
		aria-controls="navbar-body"
		aria-expanded="false"
		aria-label="Toggle navigation"
		id="navbar-collapse-button"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse collapse" id="navbar-body">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link active hover-underline-animation" href="/about">About</a>
			</li>

			<li class="nav-item">
				<a class="nav-link active hover-underline-animation" href="/#sponsors">Sponsors</a>
			</li>

			<li class="nav-item">
				<a class="nav-link active hover-underline-animation" href="/#faq">FAQ</a>
			</li>

			<li class="nav-item">
				<a class="nav-link active hover-underline-animation" href="/schedule">Schedule</a>
			</li>

			<li class="nav-item">
				<a class="nav-link active hover-underline-animation" href="https://discord.gg/D2Uhz4XaE8" target="_blank">Discord</a>
			</li>
		</ul>

		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a id="register-button" class="btn btn-outline-info" href="https://vshacks.devpost.com/" target="_blank">Register</a>
			</li>
		</ul>
	</div>
</nav>
